.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.header p{
    text-align: center;
    font-size: 1.4em;
    color:var(--color-secondary);
}