:root{
    --nav-height: 150px;
    --nav-width: 200px;
    --footer-height: 40px;
    --shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4), 0px 0px 10px 0px rgba(0, 0, 0,0.09);
    --shadow-top: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), 0px 0px 10px 0px rgba(0, 0, 0,0.09);
    --color-secondary:  rgb(152, 152, 152);
}

.app{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: 
                var(--nav-height)
                1fr
                var(--footer-height);
    grid-template-areas: 
                        'header header'
                        'nav main'
                        'nav footer';     
    height: 100vh;
    background-color: #f5f5f5;                  
}

.nav{
    grid-area: nav;
}

header.header{
    grid-area: header;
}

.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}