.nav{
    background-color: #fff;
    box-shadow:var(--shadow);
    
}
nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    color:#000;
    padding: 25px;
    
}

.nav nav a:hover{
    color:#fff;
    background: linear-gradient(180deg,#141E30,#243B55);
}