.footer{
    background-color: #fff;
    box-shadow: var(--shadow-top);
    color:var(--color-secondary);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 25px;
}